@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request check the file for the following reason.</h2>
<div class="x">
    <ul class="text-danger">* Check the Format for xlsx type</ul>
    <ul class="text-danger">* Check wether Excel file contains only and only one sheet </ul>
</div>

<style>
    .x
    {
        position:relative;
        right:40px;
    }
</style>

